// -------------------------------------
// Settings
// -------------------------------------


$v-tabs-default-theme:    true !default;
$v-pages-default-theme:   true !default;


// Tabs
// -------------------------------------
$v-tabs-spacing:            20px !default;

$v-tabs-default-color:      #D8D8D8 !default;
$v-tabs-active-color:       #2196F3 !default;

$v-tabs-tab-min-width:      100px !default;

$v-tabs-hover-animation-duration:  0.25s !default;
$v-tabs-enter-animation-duration:  0.5s  !default;
$v-tabs-leave-animation-duration:  0.25s !default;

$v-tabs-disabled-opacity:          0.6 !default;


// Pages
// -------------------------------------

$v-pages-spacing:  20px !default;

$v-pages-enter-animation-duration:  0.5s  !default;
$v-pages-leave-animation-duration:  0.25s !default;
